$navbar-default-bg: #1e90ff;

@import "bootstrap-sprockets";
@import "bootstrap";

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('cupcake.jpg');
  background-size: cover;
  height: 300px;
}

.jumbotron h1 {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
  text-shadow: 4px 2px #1e90ff;
}


.jumbotron h2 {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.btn btn-primary btn-xlarge {
  color: #1e90ff;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}
  #logo.hover {
    color: blue;
    text-decoration: none;
}

footer{
  margin-top: 45px;
  padding-top: 5px;
  border-top: 5px;
}

footer small {
  float: left;
}